.content {
    display: flex;
    /*mengatur content agar ketengah secara horizontal karena flex default row*/
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.evaluasi {
    /*Panjang maksimal 1000px*/
    max-width: 1000px;
    /*mengatur content agar ketengah secara vertical karena flex column*/
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    /*agar border saling menimpa atau berdempetan*/
    border-collapse: collapse;
    /*flex colum agar tersusun secara vetical*/
    flex-direction: column;
}

/* style judul*/
.judul {
    text-align: center;/*agar teks rata tengah*/
    color: #282828;/*warna teks*/
}

/*mengatur elemen table*/
table {
    border-collapse: collapse;/*agar border saling menimpa atau berdempetan*/
    margin-bottom: 30px;/*margin bawah*/
}

/*mengatur elemen th pada table*/
th {
    background-color: #7432f9;/*mengatur warna latar belakang*/
	height: 60px;/*mengatur tinggi elemen th*/
    width: 200px;/*mengatur lebar elemen th*/
    color: white;/*warna teks pada elemen th*/
}

/*mengatur elemen table,th, dan td pada table*/
table,th,td {
    border: 1px solid #bbb;/*lebar border 1px solid berwarna abu-abu*/
    text-align: center;/*teks rata tengah*/
    padding: 8px 20px;/*padding atas bawah: 8px, padding kanan kiri: 20px*/
}

/* Mengatur lebar kolom ketiga menjadi 5% */
th:nth-child(3),td:nth-child(3) {
    width: 5%;
}

/*Mengatur kolom 1 dan 2*/
td:nth-child(1),td:nth-child(2) {
    text-align: left; /*teks rata kiri*/
    padding-left: 15px;/*padding kiri*/
}
