.content {
    padding: 0px;
}

/* Style difault untuk setiap bagian */
.bagian {
    /* Tinggi menyesuaikan dari content yang di miliki */
    height: fit-content; 
    /* memiliki minimal tinggi seperti tingi layar browser di kurangi tinggi dari header dan menu yaitu 95px*/
    min-height: calc(100vh - 95px); 
    /* memiliki lebar 100% seperti parent */
    width: 100%;
    /* mengubah display menjadi flex untuk layouting */
    display: flex;
    /* align-items start akan membuat kontent brada di awal dari element secara vertikal 
        jika flex-direction nya adalah row jika flex direction nya column align-items start akan
        membuat content berada pada awal element secara horizonral
    */
    align-items: start;
    /* kebalikan nya dari align items, namun di sini membuat element ke tengah */
    justify-content: center;
}

/* default style untuk konten bagian kiri  */
.left {
    margin-right: 20px;
}

/* default style untuk konten bagian kanan */
.right {
    margin-left: 20px;
}





/* Style bagian satu bagian paling atas di homepage */
.bagian-1 {
    font-size: 28px;
    /* word-spacing berfungsi untuk memberikan jarak antar kata di sini 1px */
    word-spacing: 1px;
    /* warna backround menjadi gradient dari warna #f8f9fa ke warna putih dari atas ke bawah*/
    background-color: #F3F1F5; 
    align-items: center;
}

.quote-bagian-1 {
    color: #FA7070;
    font-weight: 900;
    width: 600px;
    margin-bottom: 5px;
}

.deskripsi {
    width: 400px;
    font-size: 16px;
    /* ketebalan font */
    font-weight: 600;
    color: #3532A7;
    margin-bottom: 20px;
}

.logo-bagian-1 {
    width: 300px;
}

.register {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(7, 7, 252);
    /* kelengkungan pojok */
    border-radius: 2px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    /* spasi antar huruf */
    letter-spacing: 1.5px;
}

.register:hover {
    background-color: rgb(140, 138, 222);
}

/* bagian ke dua atau bagian kelas */

.kelas {
    list-style: none;
    background-color: #CCC1FF;
    padding: 20px;
    border-radius: 15px;
    margin: 30px;
    margin-top: 60px;
}

.sub-title-list {
    /* penanda list nya di buat tidak ada */
    list-style: none;
}

.sub-title-list > h3 {
    color: #3D2C8D;
}

.sub-title-list > ul {
    color: #3D2C8D;
}

.title-list {
    margin-bottom: 50px;
    margin-top: 30px;
    color: #3D2C8D;
    text-align: center;
}



/* Bagian 3 bagian ini berisi mentor */
.bagian-3 {
    display: flex;
    align-items: center;
    background-color: ghostwhite;
    padding: 45px;
    margin-top: 40px;
}

.mentor-container {
    width: 80%;
    /* memiliki display flex */
    display: flex;
    /* flex direction colum content akan tersusun vertical */
    flex-direction: column;
    /* space-between akan membuat content akan saling berjarak satu sama lain secara vertical karena di sini flex direction nya column */
    justify-content: space-between;
    /* align items secara horizontal karena flex directionya column */
    align-items: center;
}

.mentor-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pelatih-title {
    width: 100%;
    /* memberik border bawah ketebalan 1px  dan warna hitam */
    border-bottom: 1px solid rgb(10, 10, 10, 1.0);
}

.mentor {
    width: 50%;
    height: 200px;
    /* box-sizin: border box berfungsi untuk membuat element memiliki ukuran yang tetap jika di beri margin  atau padding */
    /* karena jika tidak, saat kita memberi padding atau margin ukuran dari element akan bertambah atau berkuran */
    box-sizing: border-box;
    padding: 5px;
    margin: 20px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 2px;
    display: flex;
    border: 0.5px solid rgb(219, 217, 217);
    /* bayang bayang dari element horizontal 0px dan vertical 0px agar di tengah, blur 4px, dan ketebalan 0.1px   */
    box-shadow: 0px 0px 4px .1px rgb(82, 80, 80);
}


.nama-mentor {
    margin: 0px;
}

.deskripsi-mentor {
    color: rgb(52, 51, 51);
    font-weight: 600;
}

.mentor-profile {
    padding-left: 10px;
}

.mentor > img {
    height: 100%;
    border-radius: 3px;
}

/* Bagian terakhir homepage bagian hanya berisi text */

.bagian-4 {
    padding-bottom: 40px;
    
}

.perkembangan-bulu-tangkis,
.bulu-tangkis-pemula {
    /* text-align justify membuat text rata kiri kanan */
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.title-bagian-4 {
    /* membuat judul text-align left agar tidak rata kiri kanan 
    karena judul ada di dalam perkembangan-bulu-tangkis dan bulu-tangkis-pemula */
    text-align: left;
}

.perkembangan-bulu-tangkis > p,
.bulu-tangkis-pemula > p {
    color: rgb(80, 79, 79);
}

/* di sini juga ada css untuk memberikan style pada content dari dua bagian yaitu bagian 2 dan 4*/
.regular,
.advance,
.perkembangan-bulu-tangkis,
.bulu-tangkis-pemula {
    width: calc(100% / 2);
    height: 100%;
}


.bagian-4{
    margin-top: 50px;
}