.content {
    padding: 0px;
}

.bagian {
    height: fit-content;
    min-height: calc(100vh - 95px);
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.bagian-1 {
    font-size: 28px;
    word-spacing: 1px;
    background-image: linear-gradient(to bottom, #f8f9fa, white);
    align-items: center;
}

.quote-bagian-1 {
    color: rgb(0, 0, 0);
    font-weight: 900;
    width: 600px;
    margin-bottom: 5px;
}

.deskripsi {
    width: 400px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(44, 44, 44);
    margin-bottom: 20px;
}

.logo-bagian-1 {
    width: 300px;
}

.left {
    margin-right: 20px;
}

.right {
    margin-left: 20px;
}

.kelas {
    list-style: none;
}

.regular,
.advance,
.perkembangan-bulu-tangkis,
.bulu-tangkis-pemula {
    width: calc(100% / 2);
    height: 100%;
}

.perkembangan-bulu-tangkis,
.bulu-tangkis-pemula {
    padding-left: 50px;
    padding-right: 50px;
}

.perkembangan-bulu-tangkis > p,
.bulu-tangkis-pemula > p {
    color: rgb(80, 79, 79);
}

.sub-title-list {
    list-style: none;
}

.sub-title-list > h3 {
    color: rgb(80, 79, 79);
}

.sub-title-list > ul {
    color: rgb(80, 79, 79);
}

.title-list {
    margin-bottom: 50px;
    margin-top: 50px;
}

.bagian-3 {
    display: flex;
    align-items: center;
}

.bagian-4 {
    padding-bottom: 40px;
}

.mentor-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mentor-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mentor {
    width: 50%;
    height: 200px;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    border-radius: 2px;
    display: flex;
    border: 0.5px solid rgb(219, 217, 217);
}

.nama-mentor {
    margin: 0px;
}

.deskripsi-mentor {
    color: rgb(52, 51, 51);
    font-weight: 600;
}

.mentor-profile {
    padding-left: 10px;
}

.mentor > img {
    height: 100%;
    background-color: blue;
    background-color: rgb(235, 235, 235);
    border-radius: 3px;
}

.register {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(7, 7, 252);
    border-radius: 2px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.register:hover {
    background-color: rgb(140, 138, 222);
}
