body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
	
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #333333;
	position: fixed;
	top: 0;
}

.header > a {
	margin-right: 30px;
}

.logo-name > h3 {
	margin-left: 20px;
	color: white;
	letter-spacing: 1px;
}

.menu, .content, .footer {
	width: calc(100% - 300px);
	margin-left: 300px;
}

.menu {
	height: 25px;
	padding: 5px;
	font-weight: 900;
	color: rgb(27, 27, 27);
	background-color: rgb(248, 248, 248);
	position: fixed;
	top: 60px;
}

.menu-list {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0px;
	margin-right: 20px;
	justify-content: flex-end;
	height: 100%;
}

.menu-list > li {
	margin-left: 20px;
	margin-right: 20px;
}

.menu-list > li > a {
	text-decoration: none;
	color: black;
}

.menu-list > li:hover{
	cursor: pointer;
	color: rgb(10, 102, 1);
}

.register {
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(7, 7, 252);
	border-radius: 2px;
	color: white;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1.5px;
}

.register:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(27, 27, 27);
}

.sidebar{
	height: calc(100vh - 60px);
	width: 300px;
	background-color: rgb(255, 255, 255);
	float: left;
	position: fixed;
	z-index: 1;
	top: 60px;
}

.content {
	height: fit-content;
	min-height: calc(100vh - 95px);
	margin-top: 95px;
	background: rgb(247, 241, 241);
}

.footer {
	height: 200px;
	background-color: rgb(7, 8, 34);
}

.logo-header {
	width: 40px;
	margin-left: 20px;
}

.logo-name {
	display: flex;
}