.content {
	display: flex;
	justify-content: center;
	font-family: "Roboto", sans-serif;
}

.about-us {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.judul{
  text-align: justify;
	padding: 10px;
	margin-bottom: 30px;
	height: 500px;
	color: #6AD4DD;
	font-family: Geneva, sans-serif;
	padding-left: 70px;
	padding-top: 100px;
}

.judul{
	background-image: url("asset/px.jpg");
	width: 100%;
	background-size: cover;
	background-position: center;
}

ol {
	list-style-position: outside;
}

table{
	border-collapse: collapse;
	margin-bottom: 30px;
}

table,th,td {
	border: 1px solid #bbb;
	text-align: center;
}

th {
	height: 60px;
	width: 200px;
	background-color: #006989;
	color: whitesmoke;
}

th:nth-child(1), td:nth-child(1) {
	width: 5%; /* Menetapkan lebar kolom pertama menjadi 30% */
}

td:nth-child(2),td:nth-child(4){
	text-align: left;
	padding-left: 15px;
}
