.content {
	display: flex;
	justify-content: center;
	font-family: "Roboto", sans-serif;
}

.about-us {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.judul{
  text-align: justify;
	padding: 10px;
	margin-bottom: 30px;
	height: 400px;
	color: white;
	font-family: Geneva, sans-serif;
	padding-left: 70px;
	padding-top: 30px;
	background: linear-gradient(to right, #8576FF, #1cb5e0);
}

ol {
	list-style-position: outside;
}

table{
	border-collapse: collapse;
	margin-bottom: 30px;
}

table,th,td {
	border: 1px solid #bbb;
	text-align: center;
}

th {
	height: 60px;
	width: 200px;
	background-color: #8576FF;
	color: whitesmoke;
}

/*mengatur lebar kolom pertama*/
th:nth-child(1), td:nth-child(1) { 
	width: 5%; 
}

/*mengatur text align & padding-left kolom 2 dan 4*/
td:nth-child(2),td:nth-child(4){
	text-align: left;
	padding-left: 15px;
}


.link h3{
	padding-left: 30px;
}